doctype html
html
    head
        title #{titre}
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        footer
            p (c) Training Corporation